data/schemas/viscoll-datamodel2.0.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://viscoll.org/schema/collation/"
    xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="viscoll">
            <optional>
                <attribute name="version">
                    <choice>
                        <value>2.0.0</value>
                        <data type="NMTOKEN"/>
                    </choice>                    
                </attribute>
            </optional>
            <oneOrMore>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">On
                    viscoll document may contain multiple textblock elements</documentation>
                <element name="textblock">
                    <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                        >Optional url points to a record describing the textblock, e.g. a catalog
                        record</documentation>
                    <optional>
                        <element name="url">
                            <data type="anyURI"/>
                        </element>
                    </optional>
                    <optional>
                        <element name="title">
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Optional
                                title provides the title of the textblock as defined by the people
                                or group doing the cataloging (viscoll does not define
                                title)</documentation>
                            <text/>
                        </element>
                    </optional>
                    <element name="shelfmark">
                        <text/>
                    </element>
                    <optional>
                        <element name="date">
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">date is
                                optional and is undefined. Could be linked to a controlled
                                vocabulary in tools (e.g., a list of centuries)</documentation>
                            <text/>
                        </element>
                    </optional>
                    <optional>
                        <element name="origPlace">
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                >origPlace is optional and is undefined. Could be linked to a
                                controlled vocabulary in tools</documentation>
                            <text/>
                        </element>
                    </optional>


                    <element name="direction">
                        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >direction is required and the default value is l-r</documentation>
                        <attribute name="val">
                            <choice>
                                <value>l-r</value>
                                <value>r-l</value>
                            </choice>
                        </attribute>
                    </element>

                    <optional>
                        <element name="format">
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                                <p>Refers to the format, usually of a printed book. Possible values
                                    are fol.*, agenda 4to*, 4to*, 8vo*, 12mo, long 12mo, 16mo*,
                                    18mo, 24mo, long 24mo, 32mo*, 48mo, 64mo*, 72mo, 96mo, 128mo
                                    based on the DCRM(B) standard, the national standard for
                                    cataloging rare books in library collections, generally adopted
                                    by English-speaking countries and some non-English-speaking
                                    countries, with the addition of "agenda quarto" (Needham, Paul.
                                    2017. “Format and Paper Size in Fifteenth-Century Printing.” In
                                        <i>Materielle Aspekte in Der Inkunabelforschung</i>, edited
                                    by Christoph Reske and Wolfgang Schmitz, 59–108. Wolfenbüttel
                                    Writings on the History of Bookkeeping 49. Wiesbaden:
                                    Harrassowitz Verlag in Kommission.). * indicates formats
                                    considered by the Needham Calculator
                                    (http://www.needhamcalculator.net/), see paper size below. In
                                    case of mixed formats, e.g., F° and 4°, or other options being
                                    used in one textblock, the information should be mapped directly
                                    to the sheets instead.</p>
                            </documentation>
                            <attribute name="val">
                                <choice>
                                    <value>fol.</value>
                                    <value>agenda 4to</value>
                                    <value>4to</value>
                                    <value>8vo</value>
                                    <value>12mo</value>
                                    <value>long 12mo</value>
                                    <value>16mo</value>
                                    <value>18mo</value>
                                    <value>24mo</value>
                                <value>long 24mo</value>
                                    <value>32mo</value>
                                    <value>48mo</value>
                                    <value>64mo</value>
                                    <value>72mo</value>
                                    <value>96mo</value>
                                    <value>128mo</value>
                                <value>mixed format</value>
                                    <value>other</value>
                                </choice>
                            </attribute>
                        <optional>
                                <ref name="certainty"/>
                            </optional>
                        </element>
                    </optional>

                    <optional>
                        <element name="paperSize">
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                                <p>Refers to the category list in the "Table of Fifteenth-Century
                                    Paper Flavors" for the Needham Calculator
                                    (http://www.needhamcalculator.net/). For more information see
                                    also: Needham, Paul. 2017. “Format and Paper Size in
                                    Fifteenth-Century Printing.” In <i>Materielle Aspekte in Der
                                        Inkunabelforschung</i>, edited by Christoph Reske and
                                    Wolfgang Schmitz, 59–108. Wolfenbüttel Writings on the History
                                    of Bookkeeping 49. Wiesbaden: Harrassowitz Verlag in Kommission.
                                    In case of mixed sizes or other options being used in one
                                    textblock, the information should be mapped directly to the
                                    sheets instead.</p>
                                <ul>
                                    <li>Papal: 56 x 38.5 cm (half sheet)</li>
                                    <li>Imperial: 48 x 34 cm</li>
                                    <li>Super-Royal (Reale Bolognese): 45 x 30 cm</li>
                                    <li>Royal (Reale, Regal): 42 x 30 cm</li>
                                    <li>Super-Median (Mezzana Grande?): 37 x 25 cm</li>
                                    <li>Median (Mezzana): 34.5/35 x 25 cm</li>
                                    <li>Super-Chancery: 33 x 23 cm</li>
                                    <li>Chancery (Reçute, Comune, Kanzleiformat): 31/31.5 x 23
                                        cm</li>
                                <li>Half-Median: 25 x 17.5 cm</li>
                                </ul>
                            </documentation>
                        <attribute name="val">
                                <choice>
                                    <value>papal</value>
                                    <value>imperial</value>
                                    <value>super-royal</value>
                                    <value>royal</value>
                                    <value>super-median</value>
                                    <value>median</value>
                                    <value>super-chancery</value>
                                    <value>chancery</value>
                                    <value>half-median</value>
                                    <value>mixed_sizes</value>
                                    <value>other</value>
                                </choice>
                            </attribute>
                            <optional>
                                <ref name="certainty"/>
                            </optional>
                        </element>
                    </optional>


                    <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                        textblock begins with a list of quires</documentation>
                    <element name="quires">
                        <oneOrMore>
                            <ref name="quire"/>
                        </oneOrMore>
                    </element>

                    <element name="leaves">
                        <oneOrMore>
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">One leaf
                                element to describe each leaf in the textblock</documentation>
                            <element name="leaf">
                                <optional>
                                    <attribute name="stub">
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >If a leaf is a stub, the value of @stub is "yes" -
                                            otherwise @stub is not there</documentation>
                                        <value>yes</value>
                                    </attribute>
                                </optional>
                                <attribute>
                                    <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                                    <data type="NCName"/>
                                </attribute>
                                <optional>
                                    <element name="folioNumber">
                                        <attribute name="val">
                                            <choice>
                                                <data type="NMTOKEN"/>
                                                <data type="string"/>
                                                <empty/>
                                            </choice>
                                        </attribute>
                                        <ref name="certainty"/>
                                        <text/>
                                    </element>
                                </optional>
                                <element name="mode">
                                    <optional>
                                        <ref name="certainty"/>
                                    </optional>
                                    <optional>
                                        <attribute name="val">
                                            <choice>
                                                <value>original</value>
                                                <value>added</value>
                                                <value>replaced</value>
                                                <value>missing</value>
                                            </choice>
                                        </attribute>
                                    </optional>
                                </element>
                                <oneOrMore>
                                    <element name="q">
                                        <ref name="position"/>
                                        <optional>
                                            <ref name="leafno"/>
                                        </optional>
                                        <optional>
                                            <ref name="certainty"/>
                                        </optional>
                                        <optional>
                                            <ref name="target"/>
                                        </optional>
                                        <optional>
                                            <attribute name="type">
                                                <data type="NCName"/>
                                            </attribute>
                                        </optional>
                                        <ref name="n"/>
                                        <optional>
                                            <ref name="signature"/>
                                        </optional>
                                        <choice>
                                            <optional>
                                                <element name="conjoin">
                                                  <ref name="certainty"/>
                                                  <ref name="target"/>
                                                  <!--<text/>-->
                                                </element>
                                                </optional>
                                        <optional>
                                                <element name="single">
                                                  <documentation
                                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                                  >single only has the value of "yes" and is only
                                                  used if the leaf is a singleton</documentation>
                                                  <attribute name="val">
                                                  <choice>
                                                  <value>yes</value>
                                                  </choice>
                                                  </attribute>
                                                  <optional>
                                                  <ref name="certainty"/>
                                                  </optional>
                                                </element>
                                            </optional>
                                        </choice>
                                        </element>
                                </oneOrMore>
                                <optional>
                                    <element name="firstLeaf">
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >Indicates the leaf (recto of) which is the start of the
                                            first quire.</documentation>
                                        <attribute name="val">
                                            <choice>
                                                <value>yes</value>
                                            </choice>
                                        </attribute>
                                        <optional>
                                            <ref name="certainty"/>
                                        </optional>
                                    </element>
                                </optional>
                                <zeroOrMore>
                                    <element name="foldout">
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >Indicates if the leaf includes a foldout. The
                                            <direction/> node specifies direction (out, up, or
                                            down). May be repeated if the leaf has multiple
                                            foldouts. The order of multiple foldouts must be the
                                            order in which the leaf is unfolded.</documentation>
                                        <element name="direction">
                                            <choice>
                                                <value>out</value>
                                                <value>in</value>
                                                <value>up</value>
                                                <value>down</value>
                                            </choice>
                                            <optional>
                                                <ref name="certainty"/>
                                            </optional>
                                        </element>
                                        <optional>
                                            <ref name="certainty"/>
                                        </optional>
                                    </element>
                                </zeroOrMore>
                                <zeroOrMore>
                                    <element name="attachment-method">
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >defines the values allowed for identifying the methods
                                            by which one leaf is attached to another. For "sewn" if
                                            there is a @target identified, the two leaves are sewn
                                            together, if there is no @target identified it is sewn
                                            through the fold. Use "sewn" through the fold only when
                                            you see it (i.e., in the center of a quire). Stitching
                                            goes through the margin instead of through the fold.
                                            Stitching will have one @target identifying the exit
                                            point. Tacketing works in a similar manner to sewing
                                            through the fold.</documentation>
                                        <ref name="certainty"/>
                                        <optional>
                                            <ref name="target"/>
                                        </optional>
                                        <attribute name="type">
                                            <choice>
                                                <value>sewn</value>
                                            <value>pasted</value>
                                                  <value>tipped</value>
                                                  <value>drummed</value>
                                                  <value>stitched</value>
                                                  <value>tacketed</value>
                                                  <value>other</value>
                                                </choice>
                                        </attribute>
                                    </element>
                                </zeroOrMore>
                            </element>
                        </oneOrMore>
                    </element>
                    <zeroOrMore>
                        <element name="note">
                            <ref name="target"/>
                            <attribute name="type">
                                <choice>
                                    <value>certainty</value>
                                    <text/>
                                </choice>
                            </attribute>
                            <attribute>
                                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                            </attribute>
                            <text/>
                        </element>
                    </zeroOrMore>
                </element>
            </oneOrMore>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">viscoll
                element begins with an optional set of taxonomy definitions</documentation>
            <zeroOrMore>
                <element>
                    <name>taxonomy</name>
                    <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">if
                        the taxonomy is defined externally, e.g. the Getty Art &amp; Architecture
                        Thesaurus, include a @ref pointing to it</documentation>
                    <optional>
                        <attribute name="ref">
                            <data type="anyURI"/>
                        </attribute>
                    </optional>
                    <attribute>
                        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                        <data type="NCName"/>
                    </attribute>
                    <element>
                        <name>label</name>
                        <text/>
                    </element>
                    <oneOrMore>
                        <element>
                            <documentation
                                xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Any
                                defined taxonomy must include at least one term. If the taxonomy is
                                defined external to the viscoll document, the term must have a @ref
                                pointing to the external definition</documentation>
                            <name>term</name>
                            <optional>
                                <attribute name="ref">
                                    <data type="anyURI"/>
                                </attribute>
                            </optional>
                            <attribute>
                                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                                <data type="NCName"/>
                            </attribute>
                            <optional>
                                <element name="scopeNote">
                                    <text/>
                                </element>
                            </optional>
                        <element name="label">
                                <text/>
                            </element>
                        </element>
                    </oneOrMore>
                </element>
            </zeroOrMore>
            <optional>
                <element>
                    <name>notes</name>
                    <oneOrMore>
                        <ref name="note"/>
                    </oneOrMore>
                </element>
            </optional>
            <optional>
                <element>
                    <name>mapping</name>
                    <oneOrMore>
                        <element>
                            <name>map</name>
                            <optional>
                                <attribute name="side">
                                    <documentation
                                        xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                        >The @side attribute permits the mapping of features on one
                                        of the two surfaces of a sheet. The possible values are
                                        'left' and 'right'.</documentation>
                                    <choice>
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >The place on the left of the centre of a book opened as
                                            if to be read. All the components or features of a
                                            binding on this side of the book can therefore be
                                            described as left (e.g. left board, left endleaves,
                                            etc.). This removes any confusion about what is the
                                            front board on books written in arabic or latin, for
                                            instance
                                            (http://w3id.org/lob/concept/2947).</documentation>
                                        <value>left</value>
                                        <documentation
                                            xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                                            >The place on the right of the centre of a book opened
                                            as if to be read. All the components or features of a
                                            binding on this side of the book can therefore be
                                            described as right (e.g. right board, right endleaves,
                                            etc.). This removes any confusion about what is the back
                                            board on books written in arabic or latin, for instance
                                            (http://w3id.org/lob/concept/3004).</documentation>
                                        <value>right</value>
                                    </choice>
                                </attribute>
                            </optional>
                            <optional>
                                <attribute name="location">
                                    <documentation
                                        xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                                        <p>The location attribute permits the mapping of features on
                                            the surface of a page. The model provides a list of
                                            possible values, but the user can add values too. If
                                            more than one location is to be selected, the values
                                            should be separated by a space, for this reason, spaces
                                            are not allowed in the location values, use camelCasing,
                                            _underscore, or similar instead.</p>
                                        <p>Suggested values, as defined in the Language of Bindings
                                            or the Getty's AAT, are: <ul>
                                                <li>head: the top of a bound book as placed
                                                  vertically on a shelf. <a
                                                  href="http://w3id.org/lob/concept/3803"
                                                  >http://w3id.org/lob/concept/3803</a></li>
                                                <li>tail: the bottom of a bound book as placed
                                                  vertically on a shelf. <a
                                                  href="http://w3id.org/lob/concept/3805"
                                                  >http://w3id.org/lob/concept/3805</a></li>
                                                <li>fore-edge: the edge of a codex-form book from
                                                  which it is opened, opposite the spine. <a
                                                  href="http://w3id.org/lob/concept/3808"
                                                  >http://w3id.org/lob/concept/3808</a></li>
                                                <li>inner: the edge of a codex-form book closer to
                                                  the inside of the binding. <a
                                                  href="http://w3id.org/lob/concept/3812"
                                                  >http://w3id.org/lob/concept/3812</a></li>
                                                <li>margins: the areas of a page between the
                                                  printed, written, or illustrative matter (text
                                                  area) and the edges of the leaf. The four margins
                                                  are usually called the 'head' (or top);
                                                  'fore-edge' (or outer, outside, side); 'tail' (or
                                                  bottom foot); and 'inner' (or gutter). <a
                                                  href="http://w3id.org/lob/concept/4579"
                                                  >http://w3id.org/lob/concept/4579</a></li>
                                                <li>gutters: the adjoining inner margins of two
                                                  facing pages, i.e. the margin at the sewn fold of
                                                  a section. <a
                                                  href="http://w3id.org/lob/concept/4577"
                                                  >http://w3id.org/lob/concept/4577</a></li>
                                                <li>corner: the meeting-place of converging sides or
                                                  edges of a book, forming an angular extremity or
                                                  projection. On books, they can be defined
                                                  differently according to where they are found. The
                                                  sides of a binding therefore will have upper and
                                                  lower corners on either the inner (spine) or outer
                                                  (fore-edge) edges whereas the spines or fore-edges
                                                  of a book will have upper and lower corners at
                                                  either the left or right sides. <a
                                                  href="http://w3id.org/lob/concept/4543"
                                                  >http://w3id.org/lob/concept/4543</a></li>
                                                <li>text_area: The area of a page containing the
                                                  printed, written, or illustrative matter, within
                                                  the four margins. <a
                                                  href="http://w3id.org/lob/concept/4583"
                                                  >http://w3id.org/lob/concept/4583</a></li>
                                                <li>upper: situated or passing above the level,
                                                  surface, or base of measurement of something else.
                                                  <a
                                                  href="http://vocab.getty.edu/page/aat/300010291"
                                                  >http://vocab.getty.edu/page/aat/300010291</a></li>
                                                <li>lower: situated or passing below the level,
                                                  surface, or base of measurement of something else.
                                                  <a
                                                  href="http://vocab.getty.edu/page/aat/300010283"
                                                  >http://vocab.getty.edu/page/aat/300010283</a></li>
                                                <li>central: positioned at or near the middle of
                                                  something. <a
                                                  href="http://vocab.getty.edu/page/aat/300010273"
                                                  >http://vocab.getty.edu/page/aat/300010273</a></li>
                                                <li>projecting: jutting or sticking out beyond the
                                                  general surface or adjacent parts. <a
                                                  href="http://vocab.getty.edu/page/aat/300010286"
                                                  >http://vocab.getty.edu/page/aat/300010286</a></li>
                                                <li>parallel: extending in the same direction and
                                                  everywhere equidistant; usually said of lines and
                                                  linear objects and structures. <a
                                                  href="http://vocab.getty.edu/page/aat/300010284"
                                                  >http://vocab.getty.edu/page/aat/300010284</a></li>
                                                <li>vertical: parallel relationships to a vertical
                                                  axis in designs for graphic works, objects, and
                                                  structures. <a
                                                  href="http://vocab.getty.edu/page/aat/300056325"
                                                  >http://vocab.getty.edu/page/aat/300056325</a></li>
                                                <li>horizontal: parallel relationships to a
                                                  horizontal axis in designs for graphic works,
                                                  objects, and structures. <a
                                                  href="http://vocab.getty.edu/page/aat/300065463"
                                                  >http://vocab.getty.edu/page/aat/300065463</a></li>
                                                <li>oblique: in form or position, a deviation from a
                                                  parallel state, or perpendicularity. <a
                                                  href="http://vocab.getty.edu/page/aat/300265773"
                                                  >http://vocab.getty.edu/page/aat/300265773</a>
                                                </li>
                                            </ul>
                                        </p>
                                    </documentation>
                                    <data type="NMTOKENS"/>
                                </attribute>
                            </optional>
                            <optional>
                                <ref name="target"/>
                            </optional>
                            <optional>                                
                                <ref name="certainty"/>
                            </optional>
                            <oneOrMore>
                                <element>
                                    <name>term</name>
                                    <ref name="target"/>
                                </element>
                                </oneOrMore>
                        </element>
                    </oneOrMore>
                </element>
            </optional>
        </element>
    </start>
    <define name="n">
        <attribute name="n">
            <data type="NMTOKEN"/>
        </attribute>
    </define>
    <define name="signature">
        <attribute name="signature">
            <data type="token"/>
        </attribute>
    </define>
    <define name="certainty">
        <attribute name="certainty">
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">values for
                @certainty: 1 = very certain, 2 = fairly certain, 3 = not certain</documentation>
            <choice>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </choice>
        </attribute>
    </define>
    <define name="position">
        <attribute name="position">
            <data type="positiveInteger"/>
        </attribute>
    </define>
    <define name="leafno">
        <attribute name="leafno">
            <data type="positiveInteger"/>
        </attribute>
    </define>
    <define name="target">
        <attribute name="target">
            <list>
                <oneOrMore>
                    <data type="anyURI"/>
                </oneOrMore>
            </list>
        </attribute>
    </define>
    <define name="quire">
        <element name="quire">
            <optional>
                <ref name="certainty"/>
            </optional>
            <ref name="n"/>
            <optional>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">For
                    printed books, the alphanumerical code printed (or derived) for the
                    gathering.</documentation>
                <ref name="signature"/>
            </optional>
            <!--<optional>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">subquires must point to a parent quire</documentation>
                <attribute name="parent">
                    <data type="IDREF"/>
                </attribute>
            </optional>-->
            <optional>
                <attribute>
                    <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                    <data type="ID"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <ref name="quire"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="note">
        <element name="note">
            <ref name="target"/>
            <attribute name="type">
                <choice>
                    <value>certainty</value>
                    <text/>
                </choice>
            </attribute>
            <attribute>
                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
            </attribute>
            <text/>
        </element>

    </define>
</grammar>
